body {
    font-family: Times;
    background: pink;
    color: yellow;
    /* overflow-x: hidden;
    overflow-y: scroll;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; */
    /*cursor: url("http://cur.cursors-4u.net/nature/images9/nat826.gif"), auto;
            background-attachment: fixed;
*/
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
} 

.container img {
  margin-right: 18px;
  margin-bottom: 10px;
}

#rob {
    cursor: url("http://cur.cursors-4u.net/food/images7/foo625.png"), auto;
}

#image {
  
      cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/meh.png"), auto;
    }

svg {
    animation: 2s linear infinite svg-animation;
    max-width: 100px;
    }
      
@keyframes svg-animation {
    0% {
          transform: rotateZ(0deg);
    }
    100% {
          transform: rotateZ(360deg)
        }
      }
      
circle {
        animation: 2.4s ease-in-out infinite both circle-animation;
        display: block;
        stroke: greenyellow;
        stroke-linecap: round;
        stroke-dasharray: 283;
        stroke-dashoffset: 280;
        stroke-width: 8px;
        transform-origin: 50% 50%;
      }
      
@keyframes circle-animation {
        0%,
        25% {
          stroke-dashoffset: 280;
          transform: rotate(0);
        }
        
        50%,
        75% {
          stroke-dashoffset: 75;
          transform: rotate(45deg);
        }
        
        100% {
          stroke-dashoffset: 280;
          transform: rotate(180deg);
        }
      }